  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

  <h1>{{title }}</h1>
  
  <p>Welcome to {{title }}</p>

  <!-- <canvas id='rotatingGlobe' width='400' height='400'
      style='width: 400px; height: 400px; cursor: move;'></canvas> -->

  <div id="globe-object" >
    <canvas id='rotatingGlobe'></canvas>
  </div>

  <div id="vid-object" >
    <p> hello </p>
  </div>
  <script src="/js/d3.js"></script>
  <script src="/js/topojson.js"></script>
  <script src="/js/planetaryjs.js"></script> 
  <!-- <script src="/js/world-110m-withlakes.json"></script> -->
  <script src="/js/Planetary.js"></script>


