body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#globe-object {
    height:100%;
    width:50%;
    cursor: move;
    display:inline-block;
}

#vid-object {
    height: 100%;
    width:40%
}
